<h1>拠点一覧</h1>
<table class="table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "修正", '#',class: "btn btn-primary" %></td>
        <td><%= link_to "削除", '#',class: "btn btn-primary" %></td>
        <td><%= user.basenumber %></td>
        <td><%= user.basename %></td>
        <td><%= user.baseattendance %></td>
      </tr>
    <%break%>
    <%end%>
  </tbody>
</table>
<table class="table-bordered table-striped table-condensed table-hover">
  <% @users.each do |user| %>
  <%= form_for(user, url: baselist_path(params: {id: @user.id})) do |f| %>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse-<%=user.id%>">編集</button>
        <div id="collapse-<%=user.id%>" class="collapse">
          <%= f.label :basenumber %>
          <%= f.text_field :basenumber, class: 'form-control' %>
                
          <%= f.label :basename %>
          <%= f.text_field :basename, class: 'form-control' %>

          <%= f.label :baseattendance %>
          <%= f.text_field :baseattendance, class: 'form-control' %>
          
          <%= f.submit "保存", class: "btn btn-primary" %>
      </td>
    </tr>
  <%end%>
  <%break%>
  <%end%>
</table>