<% provide(:title,'一覧') %>
<h1>ユーザー覧</h1>

<div class="csv">
<%= form_tag({controller: "users", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVインポート" , class: "btn btn-primary"%>
<% end %>
</div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= user.name %><br>
      | <%= link_to "削除", user,method: :delete, data: {confirm: "削除してよろしいですか？"},class: "btn btn-primary" %><br>
      <table class="table-bordered table-striped table-condensed table-hover">
        <tr>
          <td class="text-left">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse-<%=user.id%>">編集</button>
            <div id="collapse-<%=user.id%>" class="collapse">
              <%= form_for (user) do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :belongs %>
                <%= f.text_field :belongs, class: 'form-control' %>
                
                <%= f.label :code %>
                <%= f.text_field :code, class: 'form-control' %>
                
                <%= f.label :card_id %>
                <%= f.text_field :card_id, class: 'form-control' %>
         
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
      
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
                
                <%= f.label :basic_time %>
                <%= f.time_field :basic_time, class: 'form-control' %>
      
                <%= f.label :work_time %>
                <%= f.time_field :work_time, class: 'form-control' %>
                
                <%= f.label :finish_time %>
                <%= f.time_field :finish_time, class: 'form-control' %>
                
                <%= f.submit "保存", class: "btn btn-primary" %>
              <%end%><!--form_for-->
            </div>
          </td>
        </tr>
      </table>
    </li>
  <%end%><!--@users-->
<ul>