<% provide(:title,@user.name) %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, ftime: @ftime.prev_month}), class: "btn btn-xs btn-primary" %>
          &emsp;<%= @ftime.to_s(:year_month) %> 時間管理表 &emsp;
        <%= link_to "→", user_path(params: {id: @user.id, ftime: @ftime.next_month}), class: "btn btn-xs btn-primary" %></td>
      <td>
        指定勤務開始時間:<%= format_basic_time(@user.work_time) %><br>
        指定勤務終了時間:<%= format_basic_time(@user.finish_time) %>
        </td>
      <td>基本時間:<%= format_basic_time(@user.basic_time)%></td> 
      <td>初日<%= @ftime.to_s(:date) %></td>
    </tr>
  </table>
  <div class="table2">
  <table class="table-bordered table-condensed">
    <tr>
      <td class="a">所属:<%= @user.belongs %></td>
      <td class="b">氏名: <%=@user.name %></td>
      <td>コード</td>
      <td><%= @user.code %></td>
      <td>出勤日数: <%= @worked_sum %>日</td>
      <td class="c">締め<%= @ltime.to_s(:date) %></td>
    </tr>
  </table>
  </div>
  <% if current_user.instructor? %>
    <%= link_to "【残業申請のお知らせ】", receive_overtime_path, remote: true%>
    <% if @count_overtime > 0 %>
      <font color="red"><%= @count_overtime %>件の通知があります</font>
    <%end%><br>
      <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <%= link_to "【勤怠変更申請のお知らせ】", receive_attendance_path, remote: true %>
    <% if @count_attendance > 0 %>
      <font color="red"><%= @count_attendance %>件の通知があります</font>
    <%end%><br>
      <div id="user-modal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <%= link_to "【所属長承認申請のお知らせ】",receive_month_path, remote: true %>
      <% if @count_month > 0 %>
        <font color="red"><%= @count_month %>件の通知があります</font>
      <%end%>
      <div id="user-modal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div><br>
  <%end%>
  
  <% if current_user|| current_user.admin? %>
    <%= link_to "CSV", user_path(format: :csv), class: "btn btn-primary" %>
    <%= link_to "勤怠を編集", edit_attendances_path(@user, @ftime), class: "btn btn-primary"%>
    <%= link_to "勤怠修正ログ", atlog_path(@user,@ftime), class: "btn btn-primary" %>
  <%end%>
  
  <table class="table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
      <td rowspan="3">残業申請</td>
      <td rowspan="3">日付</td>
      <td rowspan="3">曜日</td>
      <td colspan="8">【実績】</td>
      <td colspan="8">所定外勤務</td>
    </tr>
    <tr>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2">在社時間</td>
      <td rowspan="2">備考</td>
      <td colspan="2">終了予定時間</td>
      <td rowspan="2">時間外時間</td>
      <td rowspan="2">業務処理内容</td>
      <td rowspan="2">指示者確認㊞</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
    </tr>
    </thead>
  
    <tbody>
      <% @dates.each do |day| %>
        <%= fields_for"attendances[]", day do |af| %>
      <tr>
<!--Modal-->
        <td width="10%"> 
          <button type="button" class="btn btn-primary" data-toggle="modal" 
          data-target="#modal-<%=day.id %>" data-date="<%= day.worked_on.to_s(:date) %>">残業申請</button>
          <div class="modal fade" id="modal-<%=day.id %>" tabindex="-1">
          <div class="modal-dialog" role="document">
           <div class="modal-content">
            <div class="modal-header">
             <h1>【残業申請】</h1>
              <%= form_for(@user, url: update_overtime_path(params: {id: @user.id})) do |f| %>
            </dvi>
            <div class="modal-body">
              <table class = "table-bordered table-striped table-condensed">
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>翌日</td>
                  <td>業務処理内容</td>
                  <td>指示者確認㊞</td>
                </tr>
              <tbody>
                <tr>
                  <td class="modal-date"><%= day.worked_on.to_s(:date) %></td>
                  <td>
                    <% week_name = %w[日 月 火 水 木 金 土] %>
                     <% str = week_name[day.worked_on.wday] %>
                    <% if day.worked_on.wday == 0 %>
                      <font color="red"><%=week_name[day.worked_on.wday]%></font>
                    <% elsif day.worked_on.wday == 6 %>
                      <font color="blue"><%=week_name[day.worked_on.wday]%></font>
                    <%else%>
                      <%= str%>
                    <%end%>
                  </td>
                  <td class="modal-date">
                    <div class="time_control">
                      <%= af.time_select :over_time,:default =>day.worked_on, class: "form-control" %>
                    </div>
                  </td>
                  <td>
                    <div class="check_box">
                      <%= f.check_box :box %>
                    </div>
                  </td>
                  <td><div class="text_field"%><%= af.text_field :overtime_note,  class: "form-control" %></div></td>
                  <td><%= af.collection_select :instructor_name,User.where(instructor: true).where.not(id: @user.id),:id,:name%></td>
                </tr>
              </tbody>
            </table>  
          <div class="modal-footer">
            <%= f.submit "変更を送信する", class: "btn btn-primary" %>
          </div>
          <%end%>
         </div>
            </div>
           </div>
          </div>
        </td>
        <%end%>
<!--Modal終了-->
        <td width="5%"><%=day.worked_on.to_s(:date)%></td>
        <td width ="5%">
         <% week_name = %w[日 月 火 水 木 金 土] %>
         <% str = week_name[day.worked_on.wday] %>
         <% if day.worked_on.wday == 0 %>
           <font color="red"><%=week_name[day.worked_on.wday]%></font>
         <% elsif day.worked_on.wday == 6 %>
           <font color="blue"><%=week_name[day.worked_on.wday]%></font>
          <%else%>
            <%= str%>
         <%end%>
        </td>
<!--【実績】-->
        <td>
          <% if day.approval_at == "承認" && day.started_be.present? %>
            <%= day.started_be.to_s(:hour) %>
          <% elsif  day.started_at.present?%>
            <%= day.started_at.to_s(:hour)%>
          <%end%>
        </td>
        <td>
          <% if day.approval_at == "承認" && day.started_be.present? %>
            <%= day.started_be.ceil_to(15.minutes).to_s(:min) %>
          <% elsif day.started_at.present?%>
            <%= day.started_at.ceil_to(15.minutes).to_s(:min) %>
          <%end%>
        </td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.nil? %>
            <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <%end%>
        </td>
        <td>
          <% if day.approval_at == "承認" && day.finished_be.present? %>
            <%= day.finished_be.to_s(:hour) %>
          <% elsif day.finished_at.present?%>
            <%= day.finished_at.to_s(:hour) %>
          <%end%>
        </td>
        <td>
          <% if day.approval_at == "承認" && day.finished_be.present? %>
            <%= day.finished_be.ceil_to(15.minutes).to_s(:min)%>
          <% elsif day.finished_at.present? %>
            <%= day.finished_at.ceil_to(15.minutes).to_s(:min)%>
          <%end%>
        </td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
            <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <%end%>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= working_times(day.started_at.ceil_to(15.minutes), day.finished_at.ceil_to(15.minutes)) %>
            <% seconds = (day.finished_at - day.started_at).to_i %>
            <% @total_seconds = @total_seconds.to_i + seconds %>
          <%end%>
        </td>
        <td><%= day.note %></td>
<!--【所定外勤務】-->
        <td><%= day.over_time.to_s(:hour) if day.over_time.present?%></td>
        <td><%= day.over_time.to_s(:min) if day.over_time.present?%></td>
        <td>
          <% if day.over_time.present?%>
            <%=day.over_time.hour-@user.finish_time.hour%>.<%=(day.over_time.min-@user.finish_time.min).abs%>
          <%end%>
        </td>
        <td><%= day.overtime_note %></td>
        <td>
          <% if day.approval == "承認" || day.approval == "否認" %>
            <%= "残業#{day.approval}" %>
          <% elsif day.over_time.present? %>
            <%= "残業:上長#{day.instructor_name-1}に申請中" %>
          <%end%><br>
          <% if day.approval_at == "承認" || day.approval_at == "否認" %>
            <%= "勤怠#{day.approval_at}"%>
          <% elsif day.started_be.present? %>
            <%= "勤怠:上長#{day.instructor_nameat-1}に申請中" %>
          <%end%>
        </td>
      </tr>
      <%end%>
    </tbody>
<!--AV,合計時間-->
    <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_time(@user.basic_time).to_f* @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds.ceil_to(15.minutes)) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td width="15%">
          <%= form_for(@user, url: update_month_path(params: {id: @user.id})) do |f| %>
            <% @dates.each do |day| %>
              <%= fields_for "attendances[]", day do |af| %>
                <% if day.approval_mo == "承認" %>
                  <%= "所属長承認　済" %>
                <%else%>
                  <%= "所属長承認　未"%>
                <%end%>
                <%= af.collection_select :instructor_namemo,User.where(instructor: true).where.not(id: @user.id),:id,:name, :include_blank => true, class: "form-control"%>
                <%= af.date_select :month_date,:discard_day => true, :discard_year => true, class: "form-control"%>
                <%= f.submit "申請", class: "btn btn-primary" %>
              <%end%><!--fields_for-->
            <%break%>
            <%end%><!--day-->
          <%end%><!--fomr_for-->
        </td>
      </tr>
    </tfoot>
  </table>
    
</div>

