<% provide(:title,@user.name) %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, ftime: @ftime.prev_month}), class: "btn btn-xs btn-primary" %>
          &emsp;<%= @ftime.to_s(:year_month) %> 時間管理表 &emsp;
        <%= link_to "→", user_path(params: {id: @user.id, ftime: @ftime.next_month}), class: "btn btn-xs btn-primary" %></td>
      <td>指定勤務時間:<%= format_basic_time(@user.work_time) %></td>
      <td>基本時間:<%= format_basic_time(@user.basic_time)%></td> 
      <td>初日<%= @ftime.to_s(:date) %></td>
    </tr>
  </table>
  <div class="table2">
  <table class="table-bordered table-condensed">
    <tr>
      <td class="a">所属:<%= @user.belongs %></td>
      <td class="b">氏名: <%=@user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数: <%= @worked_sum %>日</td>
      <td class="c">締め<%= @ltime.to_s(:date) %></td>
    </tr>
  </table>
  </div>
  
  <% if current_user.admin? || curent_user %>
    <%= link_to "勤怠を編集", edit_attendances_path(@user, @ftime), class: "btn btn-primary"%>
  <%end%>
    
  <table class="table-bordered table-striped table-condensed">
    <thead>
    <tr>
      <td rowspan="2">日付</td>
      <td rowspan="2">曜日</td>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2">在社時間</td>
      <td rowspan="2">備考</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
      <td></td>
    </tr>
    </thead>
  
    <tbody>
      <% @dates.each do |day| %>
      <tr>
        <td><%= day.worked_on.to_s(:date) %></td>
        <td>
         <% week_name = %w[日 月 火 水 木 金 土] %>
         <% str = week_name[day.worked_on.wday] %>
         <% if day.worked_on.wday == 0 %>
           <font color="red"><%=week_name[day.worked_on.wday]%></font>
         <% elsif day.worked_on.wday == 6 %>
           <font color="blue"><%=week_name[day.worked_on.wday]%></font>
          <%else%>
            <%= str%>
         <%end%>
        </td>
        <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
        <td><%= day.started_at.ceil_to(15.minutes).to_s(:min) if day.started_at.present? %></td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.nil? %>
            <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <%end%>
        </td>
        <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
        <td><%= day.finished_at.ceil_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
            <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <%end%>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= working_times(day.started_at.ceil_to(15.minutes), day.finished_at.ceil_to(15.minutes)) %>
            <% seconds = (day.finished_at - day.started_at).to_i %>
            <% @total_seconds = @total_seconds.to_i + seconds %>
          <%end%>
        </td>
        <td><%= day.note %></td>
      </tr>
      <%end%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_time(@user.basic_time).to_f* @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds.ceil_to(15.minutes)) unless @total_seconds.nil? %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>