<% provide(:title,@user.name) %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, ftime: @ftime.prev_month}), class: "btn btn-xs btn-primary" %>
          &emsp;<%= @ftime.to_s(:year_month) %> 時間管理表 &emsp;
        <%= link_to "→", user_path(params: {id: @user.id, ftime: @ftime.next_month}), class: "btn btn-xs btn-primary" %></td>
      <td>
        指定勤務開始時間:<%= format_basic_time(@user.work_time) %><br>
        指定勤務終了時間:<%= format_basic_time(@user.finish_time) %>
        </td>
      <td>基本時間:<%= format_basic_time(@user.basic_time)%></td> 
      <td>初日<%= @ftime.to_s(:date) %></td>
    </tr>
  </table>
  <div class="table2">
  <table class="table-bordered table-condensed">
    <tr>
      <td class="a">所属:<%= @user.belongs %></td>
      <td class="b">氏名: <%=@user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数: <%= @worked_sum %>日</td>
      <td class="c">締め<%= @ltime.to_s(:date) %></td>
    </tr>
  </table>
  </div>
  <% if current_user.instructor? %>
    <%= link_to "【残業申請のお知らせ】", '#' %><br>
    <%= link_to "【勤怠変更申請のお知らせ】", '#' %><br>
    <%= link_to "【所属長承認申請のお知らせ】",'#'%><br>
    <%= link_to "CSV", user_path(format: :csv), class: "btn btn-primary" %>
  <%end%>
  
  <% if current_user|| current_user.admin? %>
    <%= link_to "勤怠を編集", edit_attendances_path(@user, @ftime), class: "btn btn-primary"%>
  <%end%>
  
  <table class="table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
      <td rowspan="3">残業申請</td>
      <td rowspan="3">日付</td>
      <td rowspan="3">曜日</td>
      <td colspan="8">【実績】</td>
      <td colspan="8">所定外勤務</td>
    </tr>
    <tr>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2">在社時間</td>
      <td rowspan="2">備考</td>
      <td colspan="2">終了予定時間</td>
      <td rowspan="2">時間外時間</td>
      <td rowspan="2">業務処理内容</td>
      <td rowspan="2">指示者確認㊞</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
    </tr>
    </thead>
  
    <tbody>
      <% @dates.each do |day| %>
        <%= fields_for"attendances[]", day do |af| %>
      <tr>
        <td width="10%">
          <button type="button" class="btn btn-primary" data-toggle="modal" 
          data-target="#modal-<%=day.id %>" data-date="<%= day.worked_on.to_s(:date) %>">残業申請</button>
          <div class="modal fade" id="modal-<%=day.id %>" tabindex="-1">
          <div class="modal-dialog" role="document">
           <div class="modal-content">
            <div class="modal-header">
             <h1>【残業申請】</h1>
              <%= form_for(@user, url: update_overtime_path) do |f| %>
            </dvi>
            <div class="modal-body">
              <table class = "table-bordered table-striped table-condensed">
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>翌日</td>
                  <td>業務処理内容</td>
                  <td>指示者確認㊞</td>
                </tr>
              <tbody>
                <tr>
                  <td class="modal-date"><%= day.worked_on.to_s(:date) %></td>
                  <td>
                    <% week_name = %w[日 月 火 水 木 金 土] %>
                     <% str = week_name[day.worked_on.wday] %>
                    <% if day.worked_on.wday == 0 %>
                      <font color="red"><%=week_name[day.worked_on.wday]%></font>
                    <% elsif day.worked_on.wday == 6 %>
                      <font color="blue"><%=week_name[day.worked_on.wday]%></font>
                    <%else%>
                      <%= str%>
                    <%end%>
                  </td>
                  <td>
                    <div class="time_control">
                      <%= af.time_select :over_time,:include_blank => true, class: "form-control" %>
                    </div>
                  </td>
                  <td>
                    <div class="check_box">
                      <%= af.check_box :over_time%>
                    </div>
                  </td>
                  <td><div class="text_field"%><%= af.text_field :overtime_note,  class: "form-control" %></div></td>
                  <td><%= f.collection_select :instructor,User.where(instructor: true),:id,:name%></td>
                </tr>
              </tbody>
            </table>  
          <div class="modal-footer">
            <%= f.submit "変更を送信する", class: "btn btn-primary" %>
          </div>
          <%end%>
         </div>
            </div>
           </div>
          </div>
        </td>
        <%end%>
        <td width="5%"><%=day.worked_on.to_s(:date)%></td>
        <td width ="5%">
         <% week_name = %w[日 月 火 水 木 金 土] %>
         <% str = week_name[day.worked_on.wday] %>
         <% if day.worked_on.wday == 0 %>
           <font color="red"><%=week_name[day.worked_on.wday]%></font>
         <% elsif day.worked_on.wday == 6 %>
           <font color="blue"><%=week_name[day.worked_on.wday]%></font>
          <%else%>
            <%= str%>
         <%end%>
        </td>
        <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
        <td><%= day.started_at.ceil_to(15.minutes).to_s(:min) if day.started_at.present? %></td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.nil? %>
            <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <%end%>
        </td>
        <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
        <td><%= day.finished_at.ceil_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
            <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <%end%>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= working_times(day.started_at.ceil_to(15.minutes), day.finished_at.ceil_to(15.minutes)) %>
            <% seconds = (day.finished_at - day.started_at).to_i %>
            <% @total_seconds = @total_seconds.to_i + seconds %>
          <%end%>
        </td>
        <td><%= day.note %></td>
        <td><%= day.over_time.to_s(:hour) if day.over_time.present?%></td>
        <td><%= day.over_time.to_s(:min) if day.over_time.present?%></td>
        <td></td>
        <td><%= day.overtime_note %></td>
        <td></td>
      </tr>
      <%end%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_time(@user.basic_time).to_f* @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds.ceil_to(15.minutes)) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
    <%= form_for(@user) do |f| %>
      <p class="p">所属長承認</p>
      <div class="selectpicker">
        <select class="selectpicker">
          <option></option>
          <option>上長1</option>
          <option>上長2</option>
          <option>上長3</option>
        </select>
      </div>
      <div class="petition">
        <%= f.submit "申請", class: "btn btn-primary" %>
      </div>
    <%end%>
</div>