<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <%= form_for(@user, url: update_receive_overtime_path(params: {id: @user.id})) do |f| %>
        <% @users.each do |user| %>
        <% attendances = Attendance.where(user_id: user.id) %>
        <% attendances.each do |at| %>
        <% if at.instructor_name == current_user.id %>
          <% if at.update_box.blank? || at.approval == "申請中" %>
              <h1>【<%= user.name %>からの勤怠変更申請】</h1>
              <%break%>
          <%end%>
        <%end%>
        <%end%>
        <div class="modal-body">
        <% attendances = Attendance.where(user_id: user.id) %>
        <% attendances.each do |at| %>
        <% if at.instructor_name == current_user.id %>
          <% if at.update_box.blank? || at.approval == "申請中" %>
          <table class="table-bordered table-striped table-condensed">
          <tr>
            <td rowspan="3">日付</td>
            <td rowspan="3">曜日</td>
            <td colspan="4">変更前</td>
            <td colspan="4">変更後</td>
            <td rowspan="3">備考</td>
            <td rowspan="3">指示者確認㊞</td>
            <td rowspan="3">変更</td>
            <td rowspan="3">勤怠を確認</td>
          </tr>
          <tr>
            <td colspan="2">出社</td>
            <td colspan="2">退社</td>
            <td colspan="2">出社</td>
            <td colspan="2">退社</td>
          </tr>
          <td>時</td>
          <td>分</td>
          <td>時</td>
          <td>分</td>
          <td>時</td>
          <td>分</td>
          <td>時</td>
          <td>分</td>
          <%break%>
          <%end%>
        <%end%>
        <%end%>
        <tbody>
          <% attendances.each do |at| %>
          <%= fields_for"attendances[]", at do |af| %>
          <% if at.instructor_name == current_user.id %>
          <% if at.update_box.blank? || at.approval == "申請中" %>
          <tr>
            <td><%= at.worked_on.to_s(:date) %></td>
            <td>
              <% week_name = %w[日 月 火 水 木 金 土] %>
              <% str = week_name[at.worked_on.wday] %>
              <% if at.worked_on.wday == 0 %>
                <font color="red"><%=week_name[at.worked_on.wday]%></font>
              <% elsif at.worked_on.wday == 6 %>
                <font color="blue"><%=week_name[at.worked_on.wday]%></font>
              <%else%>
                <%= str%>
              <%end%>
            </td>
            <td><%= at.started_at.to_s(:hour) if at.started_at.present?  %></td>
            <td><%= at.started_at.ceil_to(15.minutes).to_s(:min) if at.started_at.present? %></td>
            <td><%= at.finished_at.to_s(:hour) if at.finished_at.present? %></td>
            <td><%= at.finished_at.ceil_to(15.minutes).to_s(:min) if at.finished_at.present?%></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= at.note %></td>
            <td><%= af.select :approval, Attendance.approvals.keys.to_a ,{} , class: "form-control"%></td>
            <td><%= af.check_box :update_box%></td>
            <td>
              <%= af.submit "確認", class: "btn btn-primary" %>
            </td>
          </tr>
          <%end%>
         <%end%><!--if-->
         <%end%><!--fields_for--!>
         <%end%><!--atttendance.each-->
        </tbody>
        </table>
        </div><!--modal-body-->
        <%end%><!--@users.each-->
        <div class="modal-footer">
          <div class="overtime_receive_bottun">
            <%= f.submit "変更を送信する", class: "btn btn-primary" %>
          </div><!--bottun-->
        </div><!--modal-footer-->
        <%end%><!--form_for-->
  </div>
</div>